body {
    background-color: black;
    font-family: monospace;
    color: green;
}
a {
    color: darkgreen;
}
hr {
    border: 1px dashed green;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
img {
    border: 1px;
    border-color: white;
    border-radius: 50%;
    width: 200px;
}

