body {
    background-color: black;
    font-family: monospace;
    color: green;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: row;
}
section {
    display: grid;
    gap: 4px;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}



a {
    color: darkgreen;
}
hr {
    border: 1px dashed green;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
img {
    border: 1px;
    border-color: white;
    border-radius: 50%;
    width: 200px;
}

